$toolbar-background:#fff;
$toolbar-color:#030053;
$toolbar-color-hover:#000;
#slider{
    margin-top: 20px;
    
   img{
       height: 55vh;
       border-radius: 10px;
   }
    .slider-caption{
        background-color: $toolbar-background;
        color: $toolbar-color;
        box-shadow: 0px 3px 10px rgba($color: #000000, $alpha: 0.16);
        height: 50vh;
        transform: translate(-20px,20px);
        padding: 5rem 3rem;
        border-radius: 10px;

        .btnlogin{
            background-color: #E8E8E8;
        }  
    }
    
}
