@use '../home-navbar/home-navbar.component' as c;

.boxmargin{
    margin-top: 50px;
    padding:5%;
   
}.row>*{
    padding: 0px;
}
.introbox{
    background-color: c.$toolbar-background;
    color: c.$toolbar-color;
    box-shadow: 0px 3px 10px rgba($color: #000000, $alpha: 0.16);
    border-radius: 10px;
    margin: 0px 2%;

    .ico{
        width: 50px;
        height: 50px;
        // padding: 10px;
    }
    
    .btnlogin{
        background-color: #040133;
        color:c.$toolbar-background;
    }
  
    h5{
        margin-top: 5px;
    }
}
