@use '../../app/home-intro/home-intro.component.scss' as c;
.login-background{
    background-color: c.$btnlogin-background;
    height: 100vh;
    mat-card {
        box-shadow: 0px 3px 10px rgba($color: #000000, $alpha: 0.16);
        border-radius: 10px;
    }
}
.fullwidth{
    width: 100%;
}
.toolbar{
    background-color: transparent;
    // box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    width: 100%;
   
 
    & .toolbar-right{
        float: right;
        width: 50%;
    }
    & .toolbar-left{
        float: left;
        width: 50%;
        text-align: left;
    }
}
