<div class="container-fluid">
    
    <div class="row boxmargin ">
        <h3 class="text-center mb-5">
            ابدأ الأن  
           </h3>
         <div class="col-md-1"></div>
        <div class="col-md-3 introbox mb-2 text-center">
            <div class="boxhalf">
                <img src="../../assets/ic_important_devices_24px.png" class="img-fluid"/>
                <h5> طلب عرض توضيحي</h5>
            </div>
           
           
            <p class="p-5">
                تعرّف على ما يمكن أن تقدمه  لك           </p>
                <button mat-raised-button class="btnlogin mb-5">مشاهدة عرض توضيحى</button>
   
        </div>
        <div class="col-md-3 introbox mb-2 text-center">
               <div class="boxhalf">
           <img src="../../assets/ic_touch_app_24px.png" class="img-fluid"/>
           <h5> انطلق فى جولة</h5>
           </div>
          
           <p class="p-5">
            تعرّف على ما يمكن أن تقدمه  لك           </p>
            <button mat-raised-button class="btnlogin mb-5">  تصفح  فى جولة</button>
   
       </div>
       <div class="col-md-3 introbox mb-2 text-center">
        <div class="boxhalf">

           <img src="../../assets/ic_chat_24px.png" class="img-fluid"/>
           <h5> اتصل بالمبيعات</h5>
           </div>
        
           <p class="p-5">
    
            تعرّف على ما يمكن أن تقدمه  لك           
        
        </p>
        <button mat-raised-button class="btnlogin mb-5">  الاتصال بالمبيعات</button>
   
   
       </div>
    
        
   
   
    </div>
   </div>
   