@use '../home-navbar/home-navbar.component' as c;

.boxmargin{
  
    background-color: c.$toolbar-background;
    margin-top: 50px;
    padding:5%;
   
}.row>*{
    padding: 0px;
}
.introbox{
    background-color: c.$toolbar-background;
    color: c.$toolbar-color;
    box-shadow: 0px 3px 10px rgba($color: #000000, $alpha: 0.16);
    border-radius: 10px;
    margin: 0px 2%;


    
    .btnlogin{
        background-color: c.$btnlogin-background;
    }
    img{
        width: 100px;
        height: 100px;
        
  

    }
    h5{
        margin-top: 5px;
    }
    .boxhalf{
       
        background-color: #F7E0A1;
        padding:10%;
        margin: 0px;
        border-radius:10px 10px 0px 0px;

    }
}
