<footer>
<div class="container-fluid p-5">
    <div class="row">
        <div class="col-md-8">
            <img src="../../assets/logo.png" class="img-fluid" alt="" srcset="">
            <p class="p-2">
                هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيبسوم، ولكن الغالبية تم تعديلها بشكل ما عبر إدخال بعض النوادر أو الكلمات العشوائية إلى النص. إن كنت تريد أن تستخدم نص لوريم إيبسوم ما، عليك أن تتحقق أولاً أن ليس هناك أي كلمات أو عبارات محرجة أو غير لائقة مخبأة في هذا النص. بينما تعمل جميع مولّدات نصوص لوريم إيبسوم على الإنترنت على إعادة تكرار مقاطع من نص لوريم إيبسوم نفسه عدة مرات بما تتطلبه الحاجة، يقوم مولّدنا هذا باستخدام 
            </p>
        </div>
        <div class="col-md-4">
            <h4 class="text-center p-4">
             
                تابعنا على مواقع التواصل الإجتماعي
            </h4>
            <div class="row">
                <div class="col-md-2 text-center">
                    <img src="../../assets/facebook.png" class="img-fluid" alt="" srcset="">
                </div>
                <div class="col-md-2 text-center">
                    <img src="../../assets/twitter.png" class="img-fluid" alt="" srcset="">
                </div>
                <div class="col-md-2 text-center">
                    <img src="../../assets/instagram.png" class="img-fluid" alt="" srcset="">
                </div>
                <div class="col-md-2 text-center">
                    <img src="../../assets/youtube.png" class="img-fluid" alt="" srcset="">
                </div>
                <div class="col-md-2 text-center">
                    <img src="../../assets/whatsapp.png" class="img-fluid" alt="" srcset="">
                </div>
                <div class="col-md-2 text-center">
                    <img src="../../assets/telegram.png" class="img-fluid" alt="" srcset="">
                </div>
            </div>
            <p class="text-center fs-5 pt-2 lh-lg">
                تواصل معنا من خلال البريد الإلكتروني

                <label>البريد الإلكتروني </label>
            <span class="me-3 text-center text-primary fw-bold">info@taager.com</span>
            </p>
            
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center fw-bold fs-5">
            جميع الحقوق محفوظة لشركة الوكالة © ٢٠٢٢م
        </div>
    </div>
</div>
<div class="chatbox introbox me-0 me-md-2 p-2">
        <img src="../../assets/ic_message_24px.png" class="img-fluid" alt="" srcset="">
        <span class="p-2" >الدردشة مع فريق المبيعات</span>
        <img src="../../assets/ic_local_phone_24px.png" class="img-fluid" alt="" srcset="">
        <span class="p-2" >   التواصل أو الاتصال</span>
        <img src="../../assets/ic_clear_24px.png" class="img-fluid" alt="" srcset="">
        
</div>
<div class="arrowup">
    <img src="../../assets/arrow-circle-up.png" class="img-fluid" alt="" srcset="">
</div>
</footer>
