@use '../home-navbar/home-navbar.component' as c;

.introbox{
    background-color: c.$toolbar-background;
    color: c.$toolbar-color;
    box-shadow: 0px 3px 10px rgba($color: #000000, $alpha: 0.16);
    border-radius: 5px;
    padding: 1rem;
    margin: 0px 4%;
    
    .btnlogin{
        background-color: c.$btnlogin-background;
    }
    img{
        width: 30px;
        height: 30px;
        
  

    }
    h5{
        margin-top: 5px;
    }
}

footer{
background: url(../../assets/milad-fakurian-GJKx5lhwU3M-unsplash.png) no-repeat fixed;
.chatbox{
    position: fixed;
    bottom: 0;
    right: 0;
}
.arrowup{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 5%;
    
}
}