<div class="container-fluid">
    
 <div class="row boxmargin mt-5 pt-5 pb-5">
    <h3 class="text-center">
        هتلاقي كل اللى انت محتاجه عشان تبدأ 

    </h3>
    <p class="text-center pb-3">بنسهلّك كل حاجة عشان توفّر مجهودك في إقناع عملائك بالمنتجات</p>
     <div class="col-md-2 introbox me-0 me-md-5  mb-5 text-center">
         <img src="../../assets/ic_lightbulb_outline_24px.png" class="img-fluid"/>
         <h5>حلول مبتكرة</h5>
         <p>
            ميزنا في مجال التصميم والتطوير بالحلول المبتكرة التي نقدمها لتكون مشاريعنا على أعلى درجة من الكفاءة والجودة
        </p>

     </div>
     <div class="col-md-2 introbox me-0 me-md-5  mb-5 text-center">
        <img src="../../assets/ic_sort_24px.png" class="img-fluid"/>
        <h5>حلول مبتكرة</h5>
        <p>
            ميزنا في مجال التصميم والتطوير بالحلول المبتكرة التي نقدمها لتكون مشاريعنا على أعلى درجة من الكفاءة والجودة
        </p>

    </div>
    <div class="col-md-2 introbox me-0 me-md-5  mb-5 text-center">
        <img src="../../assets/ic_lock_outline_24px.png" class="img-fluid"/>
        <h5>حلول مبتكرة</h5>
        <p>
            ميزنا في مجال التصميم والتطوير بالحلول المبتكرة التي نقدمها لتكون مشاريعنا على أعلى درجة من الكفاءة والجودة
        </p>


    </div>
    <div class="col-md-2 introbox me-0 me-md-5  mb-5 text-center">
        <img src="../../assets/ic_favorite_border_24px.png" class="img-fluid"/>
        <h5>حلول مبتكرة</h5>
        <p>
            ميزنا في مجال التصميم والتطوير بالحلول المبتكرة التي نقدمها لتكون مشاريعنا على أعلى درجة من الكفاءة والجودة
        </p>


    </div>
     


 </div>
</div>
