<div class="container">
    
    <div class="row boxmargin">
        <div class="col-md-12 text-center ">
            <h3 class="mb-5" >الصناعات</h3>
            <carousel [isAnimated]="true"
           >
    <slide class="mb-2">
        <div class="row">
      <div class="col-md-2 text-center introbox me-5">
        <img src="../../assets/ic_local_taxi_24px.png" alt="" srcset="">
        <h5>
            السيارات
        </h5>
      </div>
      <div class="col-md-2 text-center introbox">
        <img src="../../assets/ic_ring_volume_24px.png" alt="" srcset="">
        <h5>
            السيارات
        </h5>
      </div>
      <div class="col-md-2 text-center introbox">
        <img src="../../assets/ic_restaurant_24px.png" alt="" srcset="">
        <h5>
            السيارات
        </h5>
      </div>
      <div class="col-md-2 text-center introbox"> 
          <img src="../../assets/ic_lightbulb_outline_24px.png" alt="" srcset="">
        <h5>
            السيارات
        </h5></div>
      <div class="col-md-2 text-center introbox">
        <img src="../../assets/ic_store_24px.png" alt="" srcset="">
        <h5>
            السيارات
        </h5>
      </div>
    </div>

    </slide>
    <slide class="mb-2">
        <div class="row">
      <div class="col-md-2 text-center introbox me-5">
        <img src="../../assets/ic_local_taxi_24px.png" alt="" srcset="">
        <h5>
            السيارات
        </h5>
      </div>
      <div class="col-md-2 text-center introbox">
        <img src="../../assets/ic_ring_volume_24px.png" alt="" srcset="">
        <h5>
            السيارات
        </h5>
      </div>
      <div class="col-md-2 text-center introbox">
        <img src="../../assets/ic_restaurant_24px.png" alt="" srcset="">
        <h5>
            السيارات
        </h5>
      </div>
      <div class="col-md-2 text-center introbox"> 
          <img src="../../assets/ic_lightbulb_outline_24px.png" alt="" srcset="">
        <h5>
            السيارات
        </h5></div>
      <div class="col-md-2 text-center introbox">
        <img src="../../assets/ic_store_24px.png" alt="" srcset="">
        <h5>
            السيارات
        </h5>
      </div>
    </div>

    </slide>
    <slide class="mb-2">
        <div class="row">
      <div class="col-md-2 text-center introbox me-5">
        <img src="../../assets/ic_local_taxi_24px.png" alt="" srcset="">
        <h5>
            السيارات
        </h5>
      </div>
      <div class="col-md-2 text-center introbox">
        <img src="../../assets/ic_ring_volume_24px.png" alt="" srcset="">
        <h5>
            السيارات
        </h5>
      </div>
      <div class="col-md-2 text-center introbox">
        <img src="../../assets/ic_restaurant_24px.png" alt="" srcset="">
        <h5>
            السيارات
        </h5>
      </div>
      <div class="col-md-2 text-center introbox"> 
          <img src="../../assets/ic_lightbulb_outline_24px.png" alt="" srcset="">
        <h5>
            السيارات
        </h5></div>
      <div class="col-md-2 text-center introbox">
        <img src="../../assets/ic_store_24px.png" alt="" srcset="">
        <h5>
            السيارات
        </h5>
      </div>
    </div>

    </slide>
 
  
    </carousel>
        </div>
      
    </div>
 
</div>
