<div class="bg-home">

  <app-home-navbar id="navbar"></app-home-navbar>
  <app-home-slider id="slider"></app-home-slider>
  <app-home-intro id="intro"></app-home-intro>
  <app-home-advantages  id="advantages"></app-home-advantages>
  <app-home-howitswork id="howitswork"></app-home-howitswork>
  <app-home-factories id="factories"></app-home-factories>
  <app-home-startnow id="startnow"></app-home-startnow>
  <app-home-blog id="blog"></app-home-blog>
  <app-home-testmonials id="testmonials"></app-home-testmonials>
  <app-home-footer id="footer"></app-home-footer>
  
  </div>
