<div class="container">
    
    <div class="row mt-5">
       <h3 class="text-center">
        خطوات سهلة وبسيطة عشان تبدأ
       </h3>
       <p class="text-center pb-3">
        كيف يعمل الموقع ؟   
       
    </p>
        <div class="col-md-2 introbox me-0 me-md-5 mb-5 text-center ">
            <span class="number">1</span>
            <img src="../../assets/ic_offline_pin_24px.png" class="img-fluid"/>
            <h5>حلول مبتكرة</h5>
            <p>
               ميزنا في مجال التصميم والتطوير بالحلول المبتكرة التي نقدمها لتكون مشاريعنا على أعلى درجة من الكفاءة والجودة
           </p>
   
        </div>
        <div class="col-md-2 introbox me-0 me-md-5 mb-5 text-center">
            <span class="number">2</span>
           <img src="../../assets/ic_chat_24px.png" class="img-fluid"/>
           <h5>حلول مبتكرة</h5>
           <p>
               ميزنا في مجال التصميم والتطوير بالحلول المبتكرة التي نقدمها لتكون مشاريعنا على أعلى درجة من الكفاءة والجودة
           </p>
   
       </div>
       <div class="col-md-2 introbox me-0 me-md-5  mb-5 text-center">
        <span class="number">3</span>
           <img src="../../assets/ic_shopping_cart_24px.png" class="img-fluid"/>
           <h5>حلول مبتكرة</h5>
           <p>
               ميزنا في مجال التصميم والتطوير بالحلول المبتكرة التي نقدمها لتكون مشاريعنا على أعلى درجة من الكفاءة والجودة
           </p>
   
   
       </div>
       <div class="col-md-2 introbox me-0 me-md-5  mb-5 text-center">
        <span class="number">4</span>
           <img src="../../assets/ic_redeem_24px.png" class="img-fluid"/>
           <h5>حلول مبتكرة</h5>
           <p>
               ميزنا في مجال التصميم والتطوير بالحلول المبتكرة التي نقدمها لتكون مشاريعنا على أعلى درجة من الكفاءة والجودة
           </p>
   
   
       </div>
        
   
   
    </div>
   </div>