@use '../home-navbar/home-navbar.component' as c;

.introbox{
    background-color: c.$toolbar-background;
    color: c.$toolbar-color;
    box-shadow: 0px 3px 10px rgba($color: #000000, $alpha: 0.16);
    border-radius: 10px;
    border-top: 10px solid #00B899;
    padding: 1rem;
    margin: 0px 4%;
    position: relative;
    
    .btnlogin{
        background-color: c.$btnlogin-background;
    }
    img{
        width: 100px;
        height: 100px;
        
  

    }
    h5{
        margin-top: 5px;
    }
    .number{
        position: absolute;
        top: -20px;
        right: 40%;
        background-color: c.$toolbar-color;
        color: c.$toolbar-background;
        border:1px solid #000;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        text-align: center;
       
        

    }
}
